﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
<h1>DONT FORGET AUTOFAC !!!!</h1>
@RenderBody()
@RenderSection("scripts", false)
</body>
</html>
